<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-512/apple-notes-493153.png">
</head>
<body style="background-color: rgb(30, 30, 30); color: white;">
    <div style="background-color: rgb(62, 62, 62); padding: 5px; border-radius: 3px;">
        <a href="{{ url_for('notes') }}" style="margin-right: 10px;"><button style="background-color: rgb(103, 103, 103); color: white; border: transparent; border-radius: 3px; font-size: 14px; padding: 4px;"><i class="far fa-sticky-note"></i></button></a>
        <a href="{{ url_for('addnote') }}" style="color: white;"><button style="background-color: rgb(103, 103, 103); color: white; border: transparent; border-radius: 3px; font-size: 14px; padding: 4px;"><i class="fas fa-plus"></i></a></button>
    </div>
    {% block greet %}{% endblock %}
    {% block notes %}{% endblock %}
    {% block addnotes %}{% endblock %}
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>